# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
coverage/
dist/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
flutter_*.log

# Dart
.dart_tool/
.pub/
.pub-cache/

# Build
app/build/
/build/

# Android
/android/app/src/main/assets/flutter_assets/
/android/key.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/flutter_assets/
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcshareddata/
/ios/Pods/
/ios/.symlinks/

# Ignore generated localization files
lib/generated/
